<div class="drag-box" cdkDropListGroup>
  <div
    class="horizontal-content"
    cdkDropList
    [cdkDropListSortingDisabled]="true"
    [cdkDropListData]="allTaskItems"
    (cdkDropListDropped)="drop($event, TASK_ITEM_TYPE_ENUM.NOTHING)"
  >
    <patternpark-content-box
      class="grabbable"
      *ngFor="let item of allTaskItems"
      cdkDrag
      cdkDragPreviewContainer="parent"
    >
      <div content>{{ item.name }}</div>
    </patternpark-content-box>
  </div>
  <div class="horizontal-content">
    <patternpark-fieldset-box class="column left-column" legend="Erzeuger">
      <div
        class="full-height"
        cdkDropList
        [cdkDropListData]="creators"
        (cdkDropListDropped)="drop($event, TASK_ITEM_TYPE_ENUM.CREATOR)"
      >
        <patternpark-content-box *ngFor="let creator of creators">
          <div content>{{ creator.name }}</div>
        </patternpark-content-box>
      </div>
    </patternpark-fieldset-box>

    <patternpark-fieldset-box class="column right-column" legend="Produkt">
      <div
        class="full-height"
        cdkDropList
        [cdkDropListData]="products"
        (cdkDropListDropped)="drop($event, TASK_ITEM_TYPE_ENUM.PRODUCT)"
      >
        <patternpark-content-box *ngFor="let product of products">
          <div content>{{ product.name }}</div>
        </patternpark-content-box>
      </div>
    </patternpark-fieldset-box>
  </div>
</div>
