<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <p>{{ data.description }}</p>
  <form (keyup.enter)="onEnterKeyPressed()">
    <mat-form-field [formGroup]="formGroup" appearance="fill">
      <mat-label>{{ data.labelText }}</mat-label>
      <input required matInput pattern="^[a-zA-Z0-9_]+$" [(ngModel)]="data.labelValue" formControlName="instanceName" />
      <mat-hint *ngIf="formGroup.invalid">{{ tip }}</mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button cdkFocusRegionStart mat-button (click)="onNoClick()">Abbrechen</button>
  <button cdkFocusRegionEnd [disabled]="formGroup.invalid" mat-button [mat-dialog-close]="data">Okay</button>
</div>
