<div class="video-holder" [class.parent]="hasParent" (resized)="videoHolderSizeChanged($event)">
  <video
    #video
    autoplay
    (ended)="onVideoEndEvent()"
    (fullscreenchange)="onVideoFullscreenChange()"
    (timeupdate)="onTimeChange($event)"
    [ngClass]="{ 'auto-height': autoWidth, 'auto-width': !autoWidth }"
    [muted]="isMuted"
    controls
  >
    <source src="{{ videoPath }}" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="close-button pointable" (click)="closeApp()">
    <span class="material-icons"> cancel </span>
  </div>
</div>

<ng-template #closeAppDialog>
  <patternpark-old-style-dialog
    title="Wiederholen?"
    leftButton="Beenden"
    rightButton="Wiederholen"
    (leftButtonClicked)="closeApp()"
    (rightButtonClicked)="replayVideo()"
    ><div>Das Video ist vorbei. Willst Du das Video wiederholen?</div></patternpark-old-style-dialog
  >
</ng-template>
