::ng-deep .main {
  & > :not(.content) {
    display: none !important;
  }
}

:host {
  video {
    position: relative;

    &.auto-height {
      width: 100%;
    }

    &.auto-width {
      height: 100%;
    }

    &::-webkit-media-controls-fullscreen-button,
    &::-webkit-media-controls-volume-slider,
    &::-webkit-media-controls-mute-button {
      display: none;
    }
  }

  .video-holder {
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    &:has(.parent) {
      position: absolute;
    }

    &:not(.parent) {
      position: fixed;
    }
  }

  .close-button {
    $padding: 2rem;
    position: absolute;
    top: $padding;
    right: $padding;
    z-index: 1000;

    & .material-icons {
      font-size: 64px;
    }
  }
}
