:host {
  .box {
    display: flex;
    background: linear-gradient(0deg, rgba(153, 153, 153, 1) 0%, rgba(242, 242, 242, 1) 100%);
    border: 1px solid #333333;
    border-radius: 2px;
    width: 100%;
  }

  .subtitles {
    background-color: white;
    flex: 1;
    margin: 5px;
    padding: 0.5rem;
    border: 1px solid #848c8c;
    border-radius: 2px;
    font-size: 180%;
    line-height: 120%;
  }
}
