<div #taskContainer class="horizontal-content">
  <patternpark-fieldset-box class="column left-column" legend="Erzeuger">
    <patternpark-content-box
      class="pointable"
      *ngFor="let creator of creatorTaskItems"
      (click)="connectClick($event, creator, taskContainer)"
      [@clickedTrigger]="
        creator.name === currentlySelectedItem?.associatedTaskListItem?.name ? 'clicked' : 'not-clicked'
      "
    >
      <div content>
        {{ creator.name }}
      </div>
    </patternpark-content-box>
  </patternpark-fieldset-box>
  <patternpark-fieldset-box class="column right-column" legend="Produkt">
    <patternpark-content-box
      class="pointable"
      *ngFor="let product of productTaskItems"
      (click)="connectClick($event, product, taskContainer)"
      [@clickedTrigger]="
        product.name === currentlySelectedItem?.associatedTaskListItem?.name ? 'clicked' : 'not-clicked'
      "
    >
      <div content>
        {{ product.name }}
      </div>
    </patternpark-content-box>
  </patternpark-fieldset-box>
</div>
