@import 'variables';

.wrapper {
  display: flex;
}

.buttonWrapper {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  background-color: $box-background-color;
  color: #ffffff;
  border: 3px solid $border-color;
}
