<div class="wrapper">
  <div #sequenceDiagramAdapter class="mermaid"></div>
  <div class="buttonWrapper">
    <button *ngFor="let answer of answerButtons" (click)="checkAnswer(answer)">
      {{ answer.text }}
    </button>
  </div>
</div>
