<div class="window">
  <div class="titlebar">{{ title }}</div>
  <div class="content"><ng-content></ng-content></div>

  <div class="actions">
    <patternpark-old-style-button (click)="leftButtonClicked.emit()">{{ leftButton }}</patternpark-old-style-button>
    <patternpark-old-style-button (click)="rightButtonClicked.emit()">{{ rightButton }}</patternpark-old-style-button>
  </div>
</div>
