@import 'variables.scss';

$margin-left-right: 2rem;

:host {
  .window {
    background-color: white;
    min-width: 40vw;
    max-width: 90vw;
    border: 1px solid #000000;
  }

  .titlebar {
    background-color: $box-background-color;
    border-bottom: 1px solid $border-color;
    padding: 0.8rem $margin-left-right;
    color: #ffffff;
    font-size: 140%;
  }

  .content {
    margin: 2rem $margin-left-right;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 $margin-left-right $margin-left-right $margin-left-right;
  }
}
