<div class="main">
  <patternpark-content-box>
    <div
      [id]="WORD_POOL_CONTAINER_ID"
      class="wordPoolWrapper"
      (drop)="dropContainer($event, WORD_POOL_CONTAINER_ID)"
      (dragover)="allowDropContainer($event)"
      content
    >
      <div id="dragObj1" class="dragObject" draggable="true" data-affiliation="1" (dragstart)="drag($event)">
        &lt;|---- Abstrakt <br />
        Implementation ----|&gt;
      </div>
      <div id="dragObj2" class="dragObject" draggable="true" data-affiliation="2" (dragstart)="drag($event)">
        &lt;|---- Implementation <br />
        Abstrakt ----|&gt;
      </div>
      <div id="dragObj3" class="dragObject" draggable="true" data-affiliation="2" (dragstart)="drag($event)">
        &lt;|---- Implementation <br />
        Abstrakt ----|&gt;
      </div>
      <div id="dragObj4" class="dragObject" draggable="true" data-affiliation="1" (dragstart)="drag($event)">
        &lt;|---- Abstrakt <br />
        Implementation ----|&gt;
      </div>
      <div id="dragObj5" class="dragObject" draggable="true" data-affiliation="2" (dragstart)="drag($event)">
        &lt;|---- Implementation <br />
        Abstrakt ----|&gt;
      </div>
    </div>
  </patternpark-content-box>
  <patternpark-content-box>
    <div class="grid" content>
      <div id="grid_div00" class="box boxText">Form(Dreieck, Kreis)</div>
      <div
        id="grid_div01"
        class="dropPoint box"
        (drop)="drop($event)"
        (dragover)="allowDrop($event)"
        data-affiliation="1"
      ></div>
      <div id="grid_div02" class="box boxText">Farbe</div>
      <div id="grid_div10" class="box boxText">Daten</div>
      <div
        id="grid_div11"
        class="dropPoint box"
        (drop)="drop($event)"
        (dragover)="allowDrop($event)"
        data-affiliation="2"
      ></div>
      <div id="grid_div12" class="box boxText">Gui</div>
      <div id="grid_div20" class="box boxText">Tastatur Layout</div>
      <div
        id="grid_div21"
        class="dropPoint box"
        (drop)="drop($event)"
        (dragover)="allowDrop($event)"
        data-affiliation="2"
      ></div>
      <div id="grid_div22" class="box boxText">Tastatur</div>
      <div id="grid_div30" class="box boxText">Lampe</div>
      <div
        id="grid_div31"
        class="dropPoint box"
        (drop)="drop($event)"
        (dragover)="allowDrop($event)"
        data-affiliation="1"
      ></div>
      <div id="grid_div32" class="box boxText">Leuchtmittel(LED, Glühbirne)</div>
    </div>
  </patternpark-content-box>
</div>
