@import '../../../../variables';

.grid {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

#grid_div00 {
  grid-area: 1 / 1 / 2 / 2;
}
#grid_div01 {
  grid-area: 1 / 2 / 2 / 3;
}
#grid_div02 {
  grid-area: 1 / 3 / 2 / 4;
}
#grid_div10 {
  grid-area: 2 / 1 / 3 / 2;
}
#grid_div11 {
  grid-area: 2 / 2 / 3 / 3;
}
#grid_div12 {
  grid-area: 2 / 3 / 3 / 4;
}
#grid_div20 {
  grid-area: 3 / 1 / 4 / 2;
}
#grid_div21 {
  grid-area: 3 / 2 / 4 / 3;
}
#grid_div22 {
  grid-area: 3 / 3 / 4 / 4;
}
#grid_div30 {
  grid-area: 4 / 1 / 5 / 2;
}
#grid_div31 {
  grid-area: 4 / 2 / 5 / 3;
}
#grid_div32 {
  grid-area: 4 / 3 / 5 / 4;
}

.dragObject {
  padding: 10px;
  margin: 5px;
  border: 1px solid darkgray;
  border-radius: 5px;
  width: max-content;
  height: max-content;
  font-weight: bold;
}
.wordPoolWrapper {
  width: 100%;
  height: max-content;
  min-height: 50px;
  display: flex;
}

.box {
  border: $border-size solid $border-color;
  border-radius: 10px;
  min-height: 4rem;
}

.boxText {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}
