.main {
  display: flex;
  flex-direction: column;
  height: 99%;
}

img {
  width: 95%;
}

.wordPoolWrapper {
  width: 100%;
  height: max-content;
  min-height: 50px;
  display: flex;
}

.dragObject {
  padding: 15px;
  margin: 5px;
  border: 1px solid darkgray;
  border-radius: 5px;
  width: max-content;
  height: max-content;
  font-weight: bold;
}

.test {
  flex: 1;
  display: grid;
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: 100%;
}

.parent > div {
  border: 1px solid darkgray;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropPoint {
  width: 90%;
  height: 50%;
  border: 1px solid #2e2e2e;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropPoint > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#row03,
#row13,
#row23 {
  border: none !important;
}

.validationBox {
  width: 50px;
  height: 50px;
  border: 1px solid #2e2e2e;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.calculatorImage {
  background-image: url('assets/taschenrechnerMitFarbe.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
}

#div1 {
  grid-area: 1 / 1 / 2 / 4;
}
#div2 {
  grid-area: 1 / 4 / 2 / 7;
}
#div3 {
  grid-area: 1 / 7 / 2 / 13;
}
#div4 {
  grid-area: 2 / 1 / 8 / 4;
}

#row01 {
  grid-area: 2 / 4 / 4 / 7;
}
#row02 {
  grid-area: 2 / 7 / 4 / 13;
}
#row03 {
  grid-area: 2 / 13 / 4 / 14;
}

#row11 {
  grid-area: 4 / 4 / 6 / 7;
}
#row12 {
  grid-area: 4 / 7 / 6 / 13;
}
#row13 {
  grid-area: 4 / 13 / 6 / 14;
}

#row21 {
  grid-area: 6 / 4 / 8 / 7;
}
#row22 {
  grid-area: 6 / 7 / 8 / 13;
}
#row23 {
  grid-area: 6 / 13 / 8 / 14;
}
