<div class="main">
  <patternpark-content-box>
    <div
      [id]="WORD_POOL_CONTAINER_ID"
      class="wordPoolWrapper"
      (drop)="dropContainer($event,WORD_POOL_CONTAINER_ID)"
      (dragover)="allowDropContainer($event)"
      content
    >
      <div
        id="dragObj2"
        class="dragObject"
        draggable="true"
        data-affiliation="1"
        data-goal="false"
        (dragstart)="drag($event)"
      >
        Fakultät
      </div>
      <div
        id="dragObj6"
        class="dragObject"
        draggable="true"
        data-affiliation="2"
        data-goal="true"
        (dragstart)="drag($event)"
      >
        1
      </div>
      <div
        id="dragObj4"
        class="dragObject"
        draggable="true"
        data-affiliation="1"
        data-goal="true"
        (dragstart)="drag($event)"
      >
        120
      </div>
      <div
        id="dragObj1"
        class="dragObject"
        draggable="true"
        data-affiliation="3"
        data-goal="false"
        (dragstart)="drag($event)"
      >
        Multiplikation
      </div>
      <div
        id="dragObj5"
        class="dragObject"
        draggable="true"
        data-affiliation="2"
        data-goal="false"
        (dragstart)="drag($event)"
      >
        Division
      </div>
      <div
        id="dragObj3"
        class="dragObject"
        draggable="true"
        data-affiliation="3"
        data-goal="true"
        (dragstart)="drag($event)"
      >
        25
      </div>
    </div>
  </patternpark-content-box>

  <br />

  <patternpark-content-box class="test">
    <div class="parent" content>
      <div id="div1"><h2>KLASSE</h2></div>
      <div id="div2"><h2>ERGEBNIS</h2></div>
      <div id="div3"><h2>INSTANZIIERUNG MIT STRATEGIE</h2></div>

      <div id="div4" (mouseenter)="showCalculatorTip()" (mouseleave)="showGeneralTip()">
        <div class="calculatorImage"></div>
      </div>

      <div id="row01">
        <div (drop)="drop($event)" (dragover)="allowDrop($event)" class="dropPoint"></div>
      </div>
      <div id="row02">
        <div (drop)="drop($event)" (dragover)="allowDrop($event)" class="dropPoint"></div>
      </div>
      <div id="row03">
        <div class="validationBox"></div>
      </div>

      <div id="row11">
        <div (drop)="drop($event)" (dragover)="allowDrop($event)" class="dropPoint"></div>
      </div>
      <div id="row12">
        <div (drop)="drop($event)" (dragover)="allowDrop($event)" class="dropPoint"></div>
      </div>
      <div id="row13">
        <div (click)="evaluateExercise()" class="validationBox"></div>
      </div>

      <div id="row21">
        <div (drop)="drop($event)" (dragover)="allowDrop($event)" class="dropPoint"></div>
      </div>
      <div id="row22">
        <div (drop)="drop($event)" (dragover)="allowDrop($event)" class="dropPoint"></div>
      </div>
      <div id="row23">
        <div class="validationBox"></div>
      </div>
    </div>
  </patternpark-content-box>
</div>
