#main-container {
  height: 100%;
}

#classes-exercise-container {
  height: 29%;
}

#template-exercise-container {
  height: 64%;
}

.exercise-container {
  border: 1px solid black;
  border-radius: 10px;
}

.devider {
  height: 4%;
}

.exercise-container-headline {
  font-size: large;
  top: -0.5em;
  left: 0.5em;
  position: relative;
  background-color: white;
}

#exercise-container-classes {
  height: calc(100% - 2em);
  width: 100%;
  overflow: scroll;
}

.exercise-container-subclasses {
  margin-top: 10px;
}

.draggable-element {
  margin-left: 40px;
  cursor: pointer;
}

.draggable-element-text {
  white-space: nowrap;
}

.dropped-element {
  position: absolute;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

#exercise-container-template {
  height: calc(100% - 2em);
  width: 100%;
  overflow: scroll;
  position: relative;
}

#template {
  position: absolute;
  top: -1em;
  left: 4em;
}

.drop-template {
  position: absolute;
}

.drop-template > svg {
  position: absolute;
}

.invisible > svg {
  opacity: 0;
}

#drop-kontrolleur {
  left: 20.3em;
  top: 0.75em;
}

#drop-turm {
  left: 4.2em;
  top: 13.7em;
}

#drop-lichter {
  left: 36.3em;
  top: 13.8em;
}

#drop-aktualisiereLicht {
  left: 20.3em;
  top: 2.7em;
}

#drop-gibPosition {
  left: 4.2em;
  top: 15.6em;
}

#drop-setzeLicht {
  left: 36.3em;
  top: 15.7em;
}

#drop-gibtPosition {
  left: 21em;
  top: 18em;
}

#drop-gibtPosition-2 {
  left: 37em;
  top: 1em;
}

#drop-fragtNachPosition {
  left: 5em;
  top: 1em;
}
