:host {
  .holder {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .player {
    position: relative;
    flex: 1;
    height: 0;
  }

  .subtitles {
    display: flex;
    /* justify-content: center; */
    align-self: center;
    height: 160px;
    max-width: 1000px;
    width: 80vw;
    margin: 2rem 0;
  }
}
