<div class="holder">
  <patternpark-video-player
    class="player"
    (timeChanged)="setSubtitle($event)"
    [hasParent]="true"
    [isMuted]="true"
  ></patternpark-video-player>

  <patternpark-subtitles-box class="subtitles">
    {{ this.currentText }}
  </patternpark-subtitles-box>
</div>
