.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.participantPoolWrapper {
  width: 100%;
  height: max-content;
  display: flex;
  overflow: auto;
  min-height: 50px;
}
.participantPoolWrapper > * {
  margin: 5px;
  padding: 5px 8px;
}
.dragObject {
  padding: 5px 8px;
  border: 1px solid darkgray;
  border-radius: 5px;
  width: max-content;
  height: max-content;
  font-weight: bold;
}

.mainBox {
  flex: 1;
  display: grid;
}

.exampleParentBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 15px;
}
.exampleBoxes {
  background-color: aliceblue;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;

  border: 2px solid black;
  border-radius: 5px;
}
.exampleBox1 {
  grid-area: 1 / 1 / 2 / 5;
}
.exampleBox2 {
  grid-area: 2 / 1 / 3 / 5;
}
.exampleBox3 {
  grid-area: 3 / 1 / 4 / 5;
}
.exampleBox4 {
  grid-area: 4 / 1 / 5 / 5;
}

.exampleSubBoxes {
  display: flex;

  margin: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;

  justify-content: center;
  align-items: center;
}
.exampleSubBoxes:empty:before {
  content: attr(aria-placeholder);
}

.exampleTextBox {
  grid-area: 1 / 1 / 2 / 4;
}
.caretakerBoxes {
  grid-area: 2 / 1 / 3 / 2;
}
.caretakerBoxes:empty:before {
  content: 'Füge Caretaker ein...';
}
.originatorBoxes {
  grid-area: 2 / 2 / 3 / 3;
}
.originatorBoxes:empty:before {
  content: 'Füge Originator ein...';
}
.mementoBoxes {
  grid-area: 2 / 3 / 3 / 4;
}
.mementoBoxes:empty:before {
  content: 'Füge Memento ein...';
}
