<div class="main">
  <patternpark-content-box>
    <div
      [id]="PARTICIPANTS_CONTAINER_ID"
      class="participantPoolWrapper"
      (drop)="dropContainer($event, PARTICIPANTS_CONTAINER_ID)"
      (dragover)="allowDropContainer($event)"
      content
    >
      <div
        id="dragObj8"
        class="dragObject"
        draggable="true"
        data-example="3"
        data-position="2"
        (dragstart)="drag($event)"
      >
        Glas
      </div>
      <div
        id="dragObj3"
        class="dragObject"
        draggable="true"
        data-example="1"
        data-position="3"
        (dragstart)="drag($event)"
      >
        unbeschrieben
      </div>
      <div
        id="dragObj10"
        class="dragObject"
        draggable="true"
        data-example="4"
        data-position="1"
        (dragstart)="drag($event)"
      >
        Heckenschere
      </div>
      <div
        id="dragObj5"
        class="dragObject"
        draggable="true"
        data-example="2"
        data-position="2"
        (dragstart)="drag($event)"
      >
        Restroom
      </div>
      <div
        id="dragObj6"
        class="dragObject"
        draggable="true"
        data-example="2"
        data-position="3"
        (dragstart)="drag($event)"
      >
        sauber
      </div>
      <div
        id="dragObj7"
        class="dragObject"
        draggable="true"
        data-example="3"
        data-position="1"
        (dragstart)="drag($event)"
      >
        Wasserflasche
      </div>
      <div
        id="dragObj2"
        class="dragObject"
        draggable="true"
        data-example="1"
        data-position="2"
        (dragstart)="drag($event)"
      >
        Papier
      </div>
      <div
        id="dragObj12"
        class="dragObject"
        draggable="true"
        data-example="4"
        data-position="3"
        (dragstart)="drag($event)"
      >
        rund
      </div>
      <div
        id="dragObj9"
        class="dragObject"
        draggable="true"
        data-example="3"
        data-position="3"
        (dragstart)="drag($event)"
      >
        voll
      </div>
      <div
        id="dragObj4"
        class="dragObject"
        draggable="true"
        data-example="2"
        data-position="1"
        (dragstart)="drag($event)"
      >
        Putzpersonal
      </div>
      <div
        id="dragObj1"
        class="dragObject"
        draggable="true"
        data-example="1"
        data-position="1"
        (dragstart)="drag($event)"
      >
        Radiergummi
      </div>
      <div
        id="dragObj11"
        class="dragObject"
        draggable="true"
        data-example="4"
        data-position="2"
        (dragstart)="drag($event)"
      >
        Busch
      </div>
    </div>
  </patternpark-content-box>

  <patternpark-content-box class="mainBox">
    <div class="exampleParentBox" content>
      <div class="exampleBoxes exampleBox1">
        <div class="exampleSubBoxes exampleTextBox">
          Wir haben ein leeres Blatt Papier. Dieses wird mit einem Stift beschrieben. Die Schrift soll anschließend mit
          einem Radiergummi wieder entfernt werden.
        </div>
        <div
          id="dropBox11"
          class="exampleSubBoxes exampleDropBox caretakerBoxes"
          data-example="1"
          data-position="1"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          (dragleave)="resetColor()"
        ></div>
        <div
          id="dropBox12"
          class="exampleSubBoxes exampleDropBox originatorBoxes"
          data-example="1"
          data-position="2"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          (dragleave)="resetColor()"
        ></div>
        <div
          id="dropBox13"
          class="exampleSubBoxes exampleDropBox mementoBoxes"
          data-example="1"
          data-position="3"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          (dragleave)="resetColor()"
        ></div>
      </div>
      <div class="exampleBoxes exampleBox2">
        <div class="exampleSubBoxes exampleTextBox">
          Im PatternPark gibt es ein Toilettenhaus. Durch die Nutzung im Betrieb bedürfen die Toiletten eine Reinigung,
          dafür ist das Putzpersonal des Parkes zuständig.
        </div>
        <div
          id="dropBox21"
          class="exampleSubBoxes exampleDropBox caretakerBoxes"
          data-example="2"
          data-position="1"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          (dragleave)="resetColor()"
        ></div>
        <div
          id="dropBox22"
          class="exampleSubBoxes exampleDropBox originatorBoxes"
          data-example="2"
          data-position="2"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          (dragleave)="resetColor()"
        ></div>
        <div
          id="dropBox23"
          class="exampleSubBoxes exampleDropBox mementoBoxes"
          data-example="2"
          data-position="3"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          (dragleave)="resetColor()"
        ></div>
      </div>
      <div class="exampleBoxes exampleBox3">
        <div class="exampleSubBoxes exampleTextBox">
          Auf dem Tisch steht ein volles Glas Wasser und eine gefüllte Wasserflasche. Nachdem man das Glas ausgetrunken
          hat, möchte man es wieder auffüllen.
        </div>
        <div
          id="dropBox31"
          class="exampleSubBoxes exampleDropBox caretakerBoxes"
          data-example="3"
          data-position="1"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          (dragleave)="resetColor()"
        ></div>
        <div
          id="dropBox32"
          class="exampleSubBoxes exampleDropBox originatorBoxes"
          data-example="3"
          data-position="2"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          (dragleave)="resetColor()"
        ></div>
        <div
          id="dropBox33"
          class="exampleSubBoxes exampleDropBox mementoBoxes"
          data-example="3"
          data-position="3"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          (dragleave)="resetColor()"
        ></div>
      </div>
      <div class="exampleBoxes exampleBox4">
        <div class="exampleSubBoxes exampleTextBox">
          Im Garten steht ein rund geschnittener Busch. Mit der Zeit wachsen die Äste, wodurch die Pflanze ihre Form
          verliert. Der Busch soll nun wieder in Form gebracht werden.
        </div>
        <div
          id="dropBox41"
          class="exampleSubBoxes exampleDropBox caretakerBoxes"
          data-example="4"
          data-position="1"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          (dragleave)="resetColor()"
        ></div>
        <div
          id="dropBox42"
          class="exampleSubBoxes exampleDropBox originatorBoxes"
          data-example="4"
          data-position="2"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          (dragleave)="resetColor()"
        ></div>
        <div
          id="dropBox43"
          class="exampleSubBoxes exampleDropBox mementoBoxes"
          data-example="4"
          data-position="3"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          (dragleave)="resetColor()"
        ></div>
      </div>
    </div>
  </patternpark-content-box>
</div>
