<div
  [style.background-image]="'url(' + (headerImageService.headerIconEvent | async) + ')'"
  [style.backgroundSize]="
    (headerImageService.headerSizeEvent | async) + '%' + (headerImageService.headerSizeEvent | async) + '%'
  "
  class="image"
>
  <div [style.background-image]="'url(assets/close-button.svg)'" class="hover-image"></div>
  <div class="close-button pointable" (click)="openCloseWindow()">
    <span class="material-icons"> cancel </span>
  </div>
</div>

<ng-template #closeAppDialog>
  <patternpark-old-style-dialog
    title="Abbruch"
    leftButton="Ja"
    rightButton="Nein"
    (leftButtonClicked)="closeApp()"
    (rightButtonClicked)="closeDialog()"
    ><div>Möchtest Du die Übung wirklich beenden?</div></patternpark-old-style-dialog
  >
</ng-template>
