@import '../../../variables';

:host {
  .hover-image {
    position: relative;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  }

  .image {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;

    & span {
      font-size: 2.2rem;
    }
  }
}
