#main-container {
  height: 100%;
}

#classes-exercise-container {
  height: 36%;
}

#template-exercise-container {
  height: 56%;
}

.exercise-container {
  border: 1px solid black;
  border-radius: 10px;
}

.devider {
  height: 4%;
}

.exercise-container-headline {
  font-size: large;
  top: -0.5em;
  left: 0.5em;
  position: relative;
  background-color: white;
}

#exercise-container-classes {
  height: calc(100% - 2em);
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
}

#exercise-container-template {
  height: calc(100% - 2em);
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  position: relative;
}

#template {
  position: absolute;
  left: 4em;
}

.draggable-element > svg {
  background-color: white;
  width: 125px;
  margin: 0.2%;
}

.empty-template {
  width: 125px;
  position: absolute;
  opacity: 0;
}

.empty-template-1 {
  left: 9.7em;
}

.empty-template-2 {
  left: 39em;
}

.empty-template-3 {
  top: 10.5em;
  left: 4em;
}

.empty-template-4 {
  top: 10.5em;
  left: 15.5em;
}

.empty-template-5 {
  top: 10.5em;
  left: 29em;
}

.empty-template-6 {
  top: 10.5em;
  left: 39em;
}

.empty-template-7 {
  top: 10.5em;
  left: 49em;
}
