@import 'variables';

$defaultBackgroundColor: rgba(146, 146, 146, 1);

:host {
  .button {
    display: flex;
    height: 35px; // fixed pixel coz the ugly pattern park style thing
    background: linear-gradient(
      0deg,
      $defaultBackgroundColor 0%,
      rgba(255, 255, 255, 1) 47%,
      rgba(255, 255, 255, 1) 53%,
      $defaultBackgroundColor 100%
    );
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    min-width: 90px;
    border: 1px solid #000000;

    &:hover {
      background: linear-gradient(
        0deg,
        $box-background-color 0%,
        rgba(255, 255, 255, 1) 47%,
        rgba(255, 255, 255, 1) 53%,
        $box-background-color 100%
      );
    }
  }
}
