<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <p>{{ data.description }}</p>
  <form (keyup.enter)="onEnterKeyPressed()">
    <mat-form-field appearance="fill">
      <mat-label>{{ data.sourceLabelText }}</mat-label>
      <mat-select [(value)]="selectedSourceInstance">
        <ng-container *ngFor="let instance of data.availableInstances | async"
          ><mat-option *ngIf="instance" [value]="instance">{{ instance.instanceName }}</mat-option></ng-container
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ data.endLabelText }}</mat-label>
      <mat-select [(value)]="selectedEndInstance">
        <ng-container *ngFor="let instance of data.availableInstances | async"
          ><mat-option *ngIf="instance" [value]="instance">{{ instance.instanceName }}</mat-option></ng-container
        >
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button
    [disabled]="!selectedSourceInstance || !selectedEndInstance"
    mat-button
    [mat-dialog-close]="{
      sourceInstance: selectedSourceInstance,
      endInstance: selectedEndInstance,
      method: data.method
    }"
  >
    Okay
  </button>
</div>
