@import 'variables';

:host {
  .horizontal-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  .column {
    flex: 1;
    margin-top: 1rem;
    min-height: 20rem;

    ::ng-deep fieldset {
      height: 100%;
    }
  }

  .right-column {
    margin-left: 1rem;
  }

  .left-column {
    margin-right: 1rem;
  }
}
