<div class="task-container" (resized)="onResize($event)">
  <div class="main">
    <div class="header">
      <patternpark-box class="title-box" [title]="HEADER_TITLE">
        <div content>{{ taskDescription | async }}</div>
      </patternpark-box>
      <patternpark-header-icon class="icon"></patternpark-header-icon>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <patternpark-content-box
      class="navigation-container"
      *ngIf="taskDescriptionService.navigationVisibilityEvent | async"
    >
      <div class="navigation" content>
        <ng-container *ngIf="taskDescriptionService.navigationPreviousItemEvent | async as navigationItemEvent">
          <a [routerLink]="navigationItemEvent.url">
            <span
              class="material-icons mirrored"
              *ngIf="navigationItemEvent.isVisible"
              [appDisable]="navigationItemEvent.isEnabled"
            >
              navigate_next
            </span>
          </a>
        </ng-container>
        <ng-container *ngIf="taskDescriptionService.navigationNextItemEvent | async as navigationItemEvent">
          <a [routerLink]="navigationItemEvent.url">
            <span
              class="material-icons"
              *ngIf="navigationItemEvent.isVisible"
              [appDisable]="navigationItemEvent.isEnabled"
            >
              navigate_next
            </span>
          </a>
        </ng-container>
      </div>
    </patternpark-content-box>
    <patternpark-box [title]="TIP_TITLE">
      <div class="tip" content>{{ tipMessage | async }}</div>
    </patternpark-box>
  </div>
</div>
