:host {
  .task-container {
    display: flex;
    align-self: center;
    height: 96%;
    width: 100%;
    justify-content: center;
  }

  .main {
    display: flex;
    flex-direction: column;

    max-width: 900px;
    width: 100%;
    height: 100%;
  }

  .content {
    flex: 1;
    padding: 1rem 0;
    overflow-y: auto;
    position: relative;

    > * {
      display: block;
      margin-top: 0.5rem;
    }

    > *:first-child {
      margin-top: 0;
    }
  }

  .header {
    $height: 100px;
    display: flex;

    .title-box {
      flex: 1;
      height: $height;
      margin-right: 2rem;
    }
    .icon {
      width: $height;
      height: $height;
    }
  }

  .tip {
    padding-bottom: 1rem;
  }

  .navigation-container {
    margin: 1rem 0;

    a {
      line-height: 10px;
    }
  }

  .navigation {
    display: flex;
    justify-content: end;
  }
}
