.main {
  height: min-content;
}

.wrapper {
  height: min-content;
}

.description-box {
  height: min-content;
  text-align: center;
  font-weight: bold;
  padding: 25px;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.dropdown-container > div {
  display: flex;
  align-items: center;
  width: 33%;
}

.dropbtn {
  border: 2px solid #74a1c5;
  background-color: white;
  border-radius: 9px;
  padding: 5px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  /*  display: block;*/
}

.dropdown-content div:hover {
  background-color: #b1b1b1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover {
  background-color: #74a1c5;
}
