<div class="main">
  <patternpark-content-box>
    <div class="wrapper" content>
      <div [innerText]="EXAMPLE_1_DESCRIPTION" class="description-box"></div>

      <div class="dropdown-container">
        <div>
          <div>MODEL:</div>
          <div class="dropdown">
            <button [attr.data-componentnumber]="1" [attr.data-solution]="EXAMPLE_1_ITEM_1" class="dropbtn">
              wähle Pattern:
            </button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_1_ITEM_3"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_1_ITEM_2"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_1_ITEM_1"></div>
            </div>
          </div>
        </div>
        <div>
          <div>CONTROLLER:</div>
          <div class="dropdown">
            <button [attr.data-componentnumber]="2" [attr.data-solution]="EXAMPLE_1_ITEM_2" class="dropbtn">
              wähle Pattern:
            </button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_1_ITEM_3"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_1_ITEM_2"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_1_ITEM_1"></div>
            </div>
          </div>
        </div>
        <div>
          <div>VIEW:</div>
          <div class="dropdown">
            <button [attr.data-componentnumber]="3" [attr.data-solution]="EXAMPLE_1_ITEM_3" class="dropbtn">
              wähle Pattern:
            </button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_1_ITEM_3"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_1_ITEM_2"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_1_ITEM_1"></div>
            </div>
          </div>
        </div>
      </div>

      <div [innerText]="EXAMPLE_2_DESCRIPTION" class="description-box"></div>

      <div class="dropdown-container">
        <div>
          <div>MODEL:</div>
          <div class="dropdown">
            <button [attr.data-componentnumber]="1" [attr.data-solution]="EXAMPLE_2_ITEM_1" class="dropbtn">
              wähle Pattern:
            </button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_2_ITEM_2"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_2_ITEM_1"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_2_ITEM_3"></div>
            </div>
          </div>
        </div>
        <div>
          <div>CONTROLLER:</div>
          <div class="dropdown">
            <button [attr.data-componentnumber]="2" [attr.data-solution]="EXAMPLE_2_ITEM_2" class="dropbtn">
              wähle Pattern:
            </button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_2_ITEM_2"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_2_ITEM_1"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_2_ITEM_3"></div>
            </div>
          </div>
        </div>
        <div>
          <div>VIEW:</div>
          <div class="dropdown">
            <button [attr.data-componentnumber]="3" [attr.data-solution]="EXAMPLE_2_ITEM_3" class="dropbtn">
              wähle Pattern:
            </button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_2_ITEM_2"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_2_ITEM_1"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_2_ITEM_3"></div>
            </div>
          </div>
        </div>
      </div>

      <div [innerText]="EXAMPLE_3_DESCRIPTION" class="description-box"></div>

      <div class="dropdown-container">
        <div>
          <div>MODEL:</div>
          <div class="dropdown">
            <button [attr.data-componentnumber]="1" [attr.data-solution]="EXAMPLE_3_ITEM_1" class="dropbtn">
              wähle Pattern:
            </button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_3_ITEM_2"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_3_ITEM_1"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_3_ITEM_3"></div>
            </div>
          </div>
        </div>
        <div>
          <div>CONTROLLER:</div>
          <div class="dropdown">
            <button [attr.data-componentnumber]="2" [attr.data-solution]="EXAMPLE_3_ITEM_2" class="dropbtn">
              wähle Pattern:
            </button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_3_ITEM_2"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_3_ITEM_1"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_3_ITEM_3"></div>
            </div>
          </div>
        </div>
        <div>
          <div>VIEW:</div>
          <div class="dropdown">
            <button [attr.data-componentnumber]="3" [attr.data-solution]="EXAMPLE_3_ITEM_3" class="dropbtn">
              wähle Pattern:
            </button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_3_ITEM_2"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_3_ITEM_1"></div>
              <div (click)="evaluateSelection($event)" [innerText]="EXAMPLE_3_ITEM_3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </patternpark-content-box>
</div>
