<div class="grid-container">
  <div>
    <h3>Für Singleton geeignet</h3>
    <ul id="singleton" (click)="onAssign($event)">
      <li *ngFor="let singleton of singletonPool" (click)="onSelect($event)">
        {{ singleton }}
      </li>
    </ul>
  </div>
  <div>
    <h3>Nicht für Singleton geeignet</h3>
    <ul id="not-assigned" (click)="onAssign($event)">
      <li *ngFor="let notSingleton of notSingletonPool" (click)="onSelect($event)">
        {{ notSingleton }}
      </li>
    </ul>
  </div>
  <div class="controls">
    <h3>Nicht eingeordnet</h3>
    <ul id="initial" (click)="onAssign($event)">
      <li *ngFor="let initial of initialPool" (click)="onSelect($event)">
        {{ initial }}
      </li>
    </ul>
    <button (click)="checkSolution()">Lösung Überprüfen</button>
  </div>
</div>
