.grid-container {
  --main-height: 70vh;
  display: grid;
  max-width: 900px;
  grid-template-columns: repeat(3, 300px);
}

h3 {
  margin: 0 5px;
  text-align: center;
  border: 2px solid #4b4b4b;
  border-bottom-width: 0;
  background-color: #74a1c5;
  color: white;
}

ul {
  padding-left: 0;
  margin: 0 5px;
  border: 2px solid #4b4b4b;
  width: calc(100% - 4px);
  height: var(--main-height);
  background-color: white;
}

.controls ul {
  --margin-bottom: 20px;
  height: calc(var(--main-height) - 5vh - var(--margin-bottom));
  margin-bottom: var(--margin-bottom);
}

.controls button {
  background-color: whitesmoke;
  font-size: large;
  font-weight: bold;
  color: black;
  padding: 5px;
  border: 1px solid #4b4b4b;
  outline: 1px solid #4b4b4b;
  outline-offset: -3px;
  border-radius: 8px;
  width: calc(100% - 10px);
  margin-left: 5px;
  height: calc(5vh - 2px);
}

.controls button:hover {
  background: gainsboro;
}

.controls button:active {
  background: silver;
}

li {
  background: whitesmoke;
  color: black;
  padding: 5px;
  border: 1px solid #4b4b4b;
  border-radius: 8px;
  outline: 1px solid #4b4b4b;
  outline-offset: -3px;
  list-style-type: none;
  max-width: 220px;
  margin: 15px auto;
  text-align: center;
}

li:hover,
li#selected:hover {
  background: gainsboro;
}

li#selected {
  background: silver;
}
