.main {
  height: 100%;
}

.wrapper {
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./assets/sequenceDiagram.PNG');
}

.box {
  height: 95%;
  position: relative;
}

.parent {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.text1 {
  grid-area: 3 / 1 / 4 / 2;
}

.text2 {
  grid-area: 9 / 1 / 10 / 2;
}

.dd1 {
  align-self: center;
  grid-area: 3 / 3 / 4 / 5;
}

.dd2 {
  align-self: end;
  justify-self: center;
  grid-area: 3 / 5 / 4 / 7;
}

.dd3 {
  grid-area: 5 / 3 / 6 / 5;
}

.dd4 {
  align-self: center;
  justify-self: center;
  grid-area: 4 / 5 / 6 / 7;
}

.dd5 {
  align-self: end;
  grid-area: 8 / 3 / 9 / 5;
}

.dd6 {
  justify-self: end;
  grid-area: 9 / 5 / 10 / 7;
}

.dropbtn {
  padding: 3px 8px;
  min-height: 0;
  border: 2px solid #74a1c5;
  background-color: white;
  border-radius: 9px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content div:hover {
  background-color: #b1b1b1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover {
  background-color: #74a1c5;
}
