<div class="main">
  <patternpark-content-box class="box">
    <div class="wrapper" content>
      <div class="parent">
        <div class="dd1">
          <div class="dropdown">
            <button [attr.data-componentnumber]="1" data-solution="createMemento()" class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)">return Memento</div>
              <div (click)="evaluateSelection($event)">new</div>
              <div (click)="evaluateSelection($event)">setState()</div>
              <div (click)="evaluateSelection($event)">createMemento()</div>
              <div (click)="evaluateSelection($event)">restore(memento)</div>
              <div (click)="evaluateSelection($event)">getState()</div>
            </div>
          </div>
        </div>
        <div class="text1"><h4>State speichern</h4></div>
        <div class="dd2">
          <div class="dropdown">
            <button [attr.data-componentnumber]="1" data-solution="new" class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)">return Memento</div>
              <div (click)="evaluateSelection($event)">new</div>
              <div (click)="evaluateSelection($event)">setState()</div>
              <div (click)="evaluateSelection($event)">createMemento()</div>
              <div (click)="evaluateSelection($event)">restore(memento)</div>
              <div (click)="evaluateSelection($event)">getState()</div>
            </div>
          </div>
        </div>
        <div class="dd3">
          <div class="dropdown">
            <button [attr.data-componentnumber]="1" data-solution="return Memento" class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)">return Memento</div>
              <div (click)="evaluateSelection($event)">new</div>
              <div (click)="evaluateSelection($event)">setState()</div>
              <div (click)="evaluateSelection($event)">createMemento()</div>
              <div (click)="evaluateSelection($event)">restore(memento)</div>
              <div (click)="evaluateSelection($event)">getState()</div>
            </div>
          </div>
        </div>
        <div class="dd4">
          <div class="dropdown">
            <button [attr.data-componentnumber]="1" data-solution="setState()" class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)">return Memento</div>
              <div (click)="evaluateSelection($event)">new</div>
              <div (click)="evaluateSelection($event)">setState()</div>
              <div (click)="evaluateSelection($event)">createMemento()</div>
              <div (click)="evaluateSelection($event)">restore(memento)</div>
              <div (click)="evaluateSelection($event)">getState()</div>
            </div>
          </div>
        </div>
        <div class="text2"><h3>State wiederherstellen</h3></div>
        <div class="dd5">
          <div class="dropdown">
            <button [attr.data-componentnumber]="1" data-solution="restore(memento)" class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)">return Memento</div>
              <div (click)="evaluateSelection($event)">new</div>
              <div (click)="evaluateSelection($event)">setState()</div>
              <div (click)="evaluateSelection($event)">createMemento()</div>
              <div (click)="evaluateSelection($event)">restore(memento)</div>
              <div (click)="evaluateSelection($event)">getState()</div>
            </div>
          </div>
        </div>
        <div class="dd6">
          <div class="dropdown">
            <button [attr.data-componentnumber]="1" data-solution="getState()" class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <div (click)="evaluateSelection($event)">return Memento</div>
              <div (click)="evaluateSelection($event)">new</div>
              <div (click)="evaluateSelection($event)">setState()</div>
              <div (click)="evaluateSelection($event)">createMemento()</div>
              <div (click)="evaluateSelection($event)">restore(memento)</div>
              <div (click)="evaluateSelection($event)">getState()</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </patternpark-content-box>
</div>
