.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.classPoolWrapper {
  width: 100%;
  height: max-content;
  display: flex;
  overflow: auto;
  min-height: 50px;
}

.dragObject {
  padding: 15px;
  margin: 5px;
  border: 1px solid darkgray;
  border-radius: 5px;
  width: max-content;
  height: max-content;
  font-weight: bold;
}

.mainBox {
  flex: 1;
  display: grid;
}

.umlParent {
  background-image: url('./assets/connections.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.5fr 1fr 0.7fr 1fr 0.5fr;
  grid-column-gap: 3%;
  grid-row-gap: 0;
}

@media (max-width: 600px) {
  .umlParent {
    background-size: 500px 250px;
    background-position: abs(40px);
  }
}

.umlObject {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 5px solid #2e2e2e;
  border-radius: 8px;
  background-color: #cae0ff;
}

.umlObjectChild {
  display: flex;
  min-height: 50%;
  width: 100%;
  border: 1px solid #2e2e2e;
  justify-content: center;
  align-items: center;
  background-color: #cae0ff;
}
.umlObjectChild:empty:before {
  content: attr(aria-placeholder);
}

.subBox {
  border: 1px solid #2e2e2e;
  padding: 10px;
}

#div1 {
  grid-area: 2 / 1 / 3 / 2;
}
#div2 {
  grid-area: 2 / 3 / 3 / 4;
}
#div3 {
  grid-area: 4 / 2 / 5 / 3;
}
#div4 {
  grid-area: 4 / 3 / 5 / 4;
}
#div5 {
  grid-area: 4 / 4 / 5 / 5;
}
