<div class="main">
  <patternpark-content-box>
    <div
      [id]="CLASS_POOL_CONTAINER_ID"
      class="classPoolWrapper"
      (drop)="dropContainer($event,CLASS_POOL_CONTAINER_ID)"
      (dragover)="allowDropContainer($event)"
      content
    >
      <div
        id="dragObj10"
        class="dragObject"
        draggable="true"
        (dragstart)="drag($event)"
        data-affiliation="function"
        data-div="6"
      >
        verkaufen()
      </div>

      <div
        id="dragObj3"
        class="dragObject"
        draggable="true"
        (dragstart)="drag($event)"
        data-affiliation="className"
        data-div="2"
      >
        Verkaufsstrategie
      </div>

      <div
        id="dragObj5"
        class="dragObject"
        draggable="true"
        (dragstart)="drag($event)"
        data-affiliation="className"
        data-div="8"
      >
        SchildVS
      </div>

      <div
        id="dragObj4"
        class="dragObject"
        draggable="true"
        (dragstart)="drag($event)"
        data-affiliation="function"
        data-div="6"
      >
        verkaufen()
      </div>

      <div
        id="dragObj7"
        class="dragObject"
        draggable="true"
        (dragstart)="drag($event)"
        data-affiliation="className"
        data-div="8"
      >
        RufVS
      </div>

      <div
        id="dragObj1"
        class="dragObject"
        draggable="true"
        (dragstart)="drag($event)"
        data-affiliation="className"
        data-div="1"
      >
        Context
      </div>

      <div
        id="dragObj6"
        class="dragObject"
        draggable="true"
        (dragstart)="drag($event)"
        data-affiliation="function"
        data-div="6"
      >
        verkaufen()
      </div>

      <div
        id="dragObj8"
        class="dragObject"
        draggable="true"
        (dragstart)="drag($event)"
        data-affiliation="function"
        data-div="6"
      >
        verkaufen()
      </div>

      <div
        id="dragObj2"
        class="dragObject"
        draggable="true"
        (dragstart)="drag($event)"
        data-affiliation="function"
        data-div="1"
      >
        strategieAusfuehren()
      </div>

      <div
        id="dragObj9"
        class="dragObject"
        draggable="true"
        (dragstart)="drag($event)"
        data-affiliation="className"
        data-div="8"
      >
        GlockenVS
      </div>
    </div>
  </patternpark-content-box>

  <patternpark-content-box class="mainBox">
    <div class="umlParent" content>
      <div class="umlObject" id="div1">
        <div
          aria-placeholder="Klassenname"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          class="umlObjectChild"
          id="div1name"
          data-affiliation="className"
          data-div="1"
        ></div>
        <div
          aria-placeholder="Funktion"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          class="umlObjectChild"
          id="div1func"
          data-affiliation="function"
          data-div="1"
        ></div>
      </div>

      <div class="umlObject" id="div2">
        <div
          aria-placeholder="Klassenname"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          class="umlObjectChild"
          id="div2name"
          data-affiliation="className"
          data-div="2"
        ></div>
        <div
          aria-placeholder="Funktion"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          class="umlObjectChild"
          id="div2func"
          data-affiliation="function"
          data-div="6"
        ></div>
      </div>

      <div class="umlObject" id="div3">
        <div
          aria-placeholder="Klassenname"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          class="umlObjectChild"
          id="div3name"
          data-affiliation="className"
          data-div="8"
        ></div>
        <div
          aria-placeholder="Funktion"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          class="umlObjectChild"
          id="div3func"
          data-affiliation="function"
          data-div="6"
        ></div>
      </div>

      <div class="umlObject" id="div4">
        <div
          aria-placeholder="Klassenname"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          class="umlObjectChild"
          id="div4name"
          data-affiliation="className"
          data-div="8"
        ></div>
        <div
          aria-placeholder="Funktion"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          class="umlObjectChild"
          id="div4func"
          data-affiliation="function"
          data-div="6"
        ></div>
      </div>

      <div class="umlObject" id="div5">
        <div
          aria-placeholder="Klassenname"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          class="umlObjectChild"
          id="div5name"
          data-affiliation="className"
          data-div="8"
        ></div>
        <div
          aria-placeholder="Funktion"
          (drop)="drop($event)"
          (dragover)="allowDrop($event)"
          class="umlObjectChild"
          id="div5func"
          data-affiliation="function"
          data-div="6"
        ></div>
      </div>
    </div>
  </patternpark-content-box>
</div>
