@import '../../../../variables';

:host {
  $header-margin-left-right: 0.3rem;

  .main-box {
    display: flex;
    border: $border-size solid $border-color;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
  }

  .header {
    background-color: $box-background-color;
    color: #fff;
    font-size: 120%;
    padding: 0.4rem $header-margin-left-right;
    border-bottom: $border-size solid $border-color;
  }

  .content {
    flex: 1;
    padding: 0.1rem $header-margin-left-right;
    overflow-y: auto;
  }
}
