:host {
  .horizontal-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  .vertical-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.25rem;
  }

  .column {
    flex: 1;
    margin-top: 1rem;
    min-height: 20rem;

    ::ng-deep fieldset {
      height: 100%;
    }
  }

  .spacing-box {
    margin-bottom: 10px;
  }
}
