<div class="content">
  <div class="horizontal-content spacing-box">
    <div class="vertical-content">
      <patternpark-fieldset-box legend="Skelett">
        <patternpark-visitor-method-parameter-drop-down
          *ngFor="let number of attractionHeadlineCount"
          [parentItemType]="ITEM_TYPE_ENUM.ATTRACTION"
          methodLabel="{{ methodHTMLHeadline + number }}"
          parameterLabel="{{ parameterHTMLHeadline.format(methodHTMLHeadline, number.toString()) }}"
          [methods]="methodNames"
          [methodParameterTypes]="parameterTypeNames"
        ></patternpark-visitor-method-parameter-drop-down>
      </patternpark-fieldset-box>
      <!-- ------------------------------------- -->
      <patternpark-fieldset-box legend="Zombie">
        <patternpark-visitor-method-parameter-drop-down
          *ngFor="let number of attractionHeadlineCount"
          [parentItemType]="ITEM_TYPE_ENUM.ATTRACTION"
          methodLabel="{{ methodHTMLHeadline + number }}"
          parameterLabel="{{ parameterHTMLHeadline.format(methodHTMLHeadline, number.toString()) }}"
          [methods]="methodNames"
          [methodParameterTypes]="parameterTypeNames"
        ></patternpark-visitor-method-parameter-drop-down>
      </patternpark-fieldset-box>
      <!-- ------------------------------------- -->
      <patternpark-fieldset-box legend="Geist">
        <patternpark-visitor-method-parameter-drop-down
          *ngFor="let number of attractionHeadlineCount"
          [parentItemType]="ITEM_TYPE_ENUM.ATTRACTION"
          methodLabel="{{ methodHTMLHeadline + number }}"
          parameterLabel="{{ parameterHTMLHeadline.format(methodHTMLHeadline, number.toString()) }}"
          [methods]="methodNames"
          [methodParameterTypes]="parameterTypeNames"
        ></patternpark-visitor-method-parameter-drop-down>
      </patternpark-fieldset-box>
    </div>
    <!-- ------------------------------------- -->
    <patternpark-fieldset-box legend="Mark Besucher">
      <patternpark-visitor-method-parameter-drop-down
        *ngFor="let number of visitorHeadlineCount"
        [parentItemType]="ITEM_TYPE_ENUM.VISITOR"
        methodLabel="{{ methodHTMLHeadline + number }}"
        parameterLabel="{{ parameterHTMLHeadline.format(methodHTMLHeadline, number.toString()) }}"
        [methods]="methodNames"
        [methodParameterTypes]="parameterTypeNames"
      ></patternpark-visitor-method-parameter-drop-down>
    </patternpark-fieldset-box>
  </div>
</div>
