<patternpark-fieldset-box [legend]="seqLegend">
  <div #visitorMermaidDiagram class="mermaid"></div>
</patternpark-fieldset-box>
<ng-template #dropdown>
  <mat-select #select (selectionChange)="onMethodSelected($event.value)" (openedChange)="closeMenu($event)">
    <mat-option *ngFor="let call of availableCalls" [value]="call">{{ call }}</mat-option>
  </mat-select>
</ng-template>
