<div class="horizontal-content selection-carrier-box">
  <mat-form-field appearance="outline" class="cust-form-style" #formFieldMethod>
    <mat-label>{{ methodLabel }}</mat-label>
    <mat-select
      #methodSelector
      (selectionChange)="handleMethodSelection(methodSelector, parameterTypeSelector, formFieldMethod)"
    >
      <mat-option *ngFor="let method of methods" [value]="method.itemName">
        {{ method.itemName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- ------------------ -->
  <mat-form-field appearance="outline" class="cust-form-style" #formFieldParameterType>
    <mat-label>{{ parameterLabel }}</mat-label>
    <mat-select
      disabled
      #parameterTypeSelector
      (selectionChange)="handleParameterSelection(parameterTypeSelector, formFieldParameterType)"
    >
      <mat-option *ngFor="let type of methodParameterTypes" [value]="type.itemName">
        {{ type.itemName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
