@import 'variables';

:host {
  .selection-carrier-box {
    border-bottom: $border-size solid white;
  }
  ::ng-deep .cust-form-style .mat-form-field-outline {
    transition: color 1s;
  }
  ::ng-deep .cust-form-style[data-successful] .mat-form-field-outline {
    color: #008000 !important;
  }
  ::ng-deep .cust-form-style[data-failed] .mat-form-field-outline {
    color: $color-failed !important;
  }

  ::ng-deep .cust-form-style .mat-form-field-label {
    color: $border-color;
  }
  ::ng-deep .cust-form-style[data-failed] .mat-form-field-label {
    color: $color-failed;
  }
  ::ng-deep .cust-form-style[data-succesful] .mat-form-field-label {
    color: green;
  }

  ::ng-deep .cust-form-style .mat-select-arrow {
    color: $border-color !important;
  }
}
