<div class="drag-box" cdkDropListGroup>
  <div class="all-items" cdkDropList [cdkDropListSortingDisabled]="true" [cdkDropListData]="allItems">
    <patternpark-content-box *ngFor="let item of allItems" class="grabable" cdkDrag>
      <div content>{{ item.name }}</div>
    </patternpark-content-box>
  </div>

  <div>
    <patternpark-adapter-example
      [example]="EXAMPLE.POWER_OUTLET"
      (taskDone)="checkIfTaskComplete($event)"
    ></patternpark-adapter-example>
    <patternpark-adapter-example
      [example]="EXAMPLE.LANGUAGES"
      (taskDone)="checkIfTaskComplete($event)"
    ></patternpark-adapter-example>
    <patternpark-adapter-example
      [example]="EXAMPLE.SOFTWARE"
      (taskDone)="checkIfTaskComplete($event)"
    ></patternpark-adapter-example>
  </div>
</div>
