// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$exercise-template-primary: mat.define-palette(mat.$indigo-palette);
$exercise-template-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$exercise-template-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$exercise-template-theme: mat.define-light-theme(
  (
    color: (
      primary: $exercise-template-primary,
      accent: $exercise-template-accent,
      warn: $exercise-template-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($exercise-template-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.cdk-overlay-backdrop {
  z-index: 995;
}

.cdk-global-overlay-wrapper {
  z-index: 996 !important;
}

.window-overlay-backdrop {
  z-index: 990;
  background: rgba(0, 0, 0, 0.4);

  & + .cdk-global-overlay-wrapper {
    z-index: 991 !important;
  }
}

.mirrored {
  transform: rotateY(180deg);
}

.pointable {
  cursor: pointer;
}

.grabbable {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.close-button {
  color: #e10000;
}

.close-button:hover {
  color: #ff0000;
}
