<div class="adapter-example-wrapper">
  <h3>{{ example }}</h3>
  <div class="droplist-wrapper">
    <div
      cdkDropList
      [cdkDropListData]="client"
      class="droplist"
      (cdkDropListDropped)="drop($event, example, ROLE.CLIENT)"
    >
      <span>{{ ROLE.CLIENT }}</span>
      <patternpark-content-box *ngFor="let item of client" class="grabable" cdkDrag>
        <div content>{{ item.name }}</div>
      </patternpark-content-box>
    </div>

    <div
      cdkDropList
      [cdkDropListData]="adapter"
      class="droplist"
      (cdkDropListDropped)="drop($event, example, ROLE.ADAPTER)"
    >
      <span>{{ ROLE.ADAPTER }}</span>
      <patternpark-content-box *ngFor="let item of adapter" class="grabable" cdkDrag>
        <div content>{{ item.name }}</div>
      </patternpark-content-box>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="adapterImpl"
      class="droplist"
      (cdkDropListDropped)="drop($event, example, ROLE.ADAPTER_IMPL)"
    >
      <span>{{ ROLE.ADAPTER_IMPL }}</span>
      <patternpark-content-box *ngFor="let item of adapterImpl" class="grabable" cdkDrag>
        <div content>{{ item.name }}</div>
      </patternpark-content-box>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="target"
      class="droplist"
      (cdkDropListDropped)="drop($event, example, ROLE.TARGET)"
    >
      <span>{{ ROLE.TARGET }}</span>
      <patternpark-content-box *ngFor="let item of target" class="grabable" cdkDrag>
        <div content>{{ item.name }}</div>
      </patternpark-content-box>
    </div>
  </div>
</div>
