@import 'variables';

.adapter-example-wrapper {
  margin-bottom: 2rem;
  h3 {
    font-weight: bold;
  }
}

.droplist-wrapper {
  display: flex;
  justify-content: space-between;
}

.droplist {
  min-width: 20%;
  max-width: 30%;
  height: 100px;
  border: $border-size $border-color solid;
  border-radius: 5px;
  padding: 0.25rem;
}
